<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=emulateIE7" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="/admin/css/style.css" />
<link rel="stylesheet" type="text/css" href="/admin/css/WdatePicker.css" />
<link rel="stylesheet" type="text/css" href="/admin/css/skin_/table.css" />
<link rel="stylesheet" type="text/css" href="/admin/css/jquery.grid.css" />
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script type="text/javascript" src="/admin/js/Menu.js"></script>


    <title>表格</title>
</head>

<body>
<div id="container">
	<div id="hd"></div>
    <div id="bd">
    	<div id="main">
        	<div class="search-box ue-clear">
            	<div class="search-area">

                    <div class="kv-item ue-clear">
                        <label>选择类型:</label>
                        <div class="kv-item-content">
                            <select name = "articleType" id="articleType" onchange="changeType(this.options[this.selectedIndex].value)">
                                <option th:each="types : ${articleTypes}" th:value ="${types.id}" th:text="${types.desc}" th:selected="${type == types.id}"></option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="search-button">
                	<!--<input class="button" type="button" value="搜索一下" />-->
                </div>
             </div>
             
            <div class="table">

                
                <div class="grid">
                    <table class="table table-hover table-sm">
                        <thead class="thead-light">
                        <tr>
                            <th>ID</th>
                            <th>标题</th>
                            <th>类型</th>
                            <th>创建时间</th>
                            <th>操作</th>

                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each = "info: ${pageInfo.list}">
                            <td th:text = "${info.id}"></td>
                            <td th:text = "${info.title}"></td>
                            <td th:text = "${info.type}"></td>
                            <td th:text = "${#dates.format(info.createTime,'yyyy-MM-dd HH:mm:ss')}"></td>
                            <td>
                                <a  th:href = "@{'/article/toUpdateArticle?articleId='+${info.id}}" ><button id="update" th:attr="data-id=${info.id}" >编辑</button></a>
                                <button id="delete" th:attr="data-id=${info.id}" >删除</button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <p class ="type" th:text = "${type}" hidden></p>

                    <div class="container">
                        <nav aria-label="Page navigation example">
                            <div class = "aad"> 当前第<span th:text="${pageInfo.pageNum} "></span>页.每页条数：<span th:text="${pageInfo.pageSize}"></span>
                                一共 <span th:text="${pageInfo.total}"></span> 条记录</div>
                            <ul id="page" class="pagination" >
                                <li class="page-item">
                                    <a class="page-link" th:href="@{'/admin/toArticleTable?type='+${type}+'&pageNum='+${pageInfo.firstPage}}" >首页</a>
                                </li>
                                <!--上一页-->
                                <li class="page-item" th:if="${pageInfo.hasPreviousPage}">
                                    <a class="page-link" th:href="@{'/admin/toArticleTable?pageNum='+${pageInfo.prePage}}"  >
                                        <i class="fa fa-angle-left"></i>&nbsp;上一页
                                    </a>
                                </li>
                                <!--循环遍历连续显示的页面，若是当前页就高亮显示，并且没有链接-->
                                <th:block th:each="nav : ${pageInfo.navigatepageNums}" >
                                    <li class="page-item" th:class="${nav==pageInfo.pageNum}?'active':''" >
                                        <a class="page-link" th:href="@{'/admin/toArticleTable?pageNum='+${nav}}"
                                           th:text="${nav}"></a></li>
                                </th:block>

                                <th:block th:if="${pageInfo.hasNextPage}">
                                    <li class="page-item">
                                        <a class="page-link" th:href="@{'/admin/toArticleTable?type='+${type}+'&pageNum='+${pageInfo.nextPage}}" > 下一页&nbsp;<i class="fa fa-angle-right"></i>
                                        </a>
                                    </li>
                                </th:block>
                                <li class="page-item">
                                    <a class="page-link" th:href="@{'/admin/toArticleTable?pageNum='+${pageInfo.lastPage}}">尾页</a>
                                </li>
                            </ul>
                        </nav>
                    </div>

            </div>
        </div>
    </div>
</div>
</body>
<script type="text/javascript" src="/admin/js/jquery.js"></script>
<script type="text/javascript" src="/admin/js/global.js"></script>
<script type="text/javascript" src="/admin/js/jquery.select.js"></script>
<script type="text/javascript" src="/admin/js/core.js"></script>
<script type="text/javascript" src="/admin/js/jquery.pagination.js"></script>
<script type="text/javascript" src="/admin/js/jquery.grid.js"></script>
<script type="text/javascript" src="/admin/js/WdatePicker.js"></script>
<script type="text/javascript">
	$('select').select();

			
	var oper = [{label:'删除',onclick:function(){
						alert('删除');
				}},{label:'编辑',onclick: function(){
					alert('编辑')	
				}}]

    function changeType(type) {
        location = "/article/toArticleTable?type="+type;
    }

    function update_click() {
        var id = $("#update").data("id");
        $.ajax({
            url:"/article/toUpdateArticle?articleId=" + id,
            data:{},
            dataType:"json",
            type:"get",
            success:function (data) {
                location.href = data;
            }
        })
    }
$(function () {
    $('#articleType option').each(function () {
        if($(this).val() == $('.type').val()){
            $(this).attr("selected",true);
        }
    })
    $('#delete').click(function () {
        var id = $(this).data("id");
        $.ajax({
            url: "/article/delete?articleId=" + id,
            data: {},
            dataType: "json",
            type: "get",
            success: function (e) {
                alert("删除成功！");
                location.reload();
            }
        })
    })
});
</script>
</html>
