<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=emulateIE7" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="/admin/css/style.css" />
    <link rel="stylesheet" type="text/css" href="/admin/css/WdatePicker.css" />
    <link rel="stylesheet" type="text/css" href="/admin/css/skin_/table.css" />
    <link rel="stylesheet" type="text/css" href="/admin/css/jquery.grid.css" />
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<title>表格</title>
</head>

<body>
<div id="container">
	<div id="hd"></div>
    <div id="bd">
    	<div id="main">
             
            <div class="table">

                <div class="grid">
                    <table class="table table-hover">
                        <thead class="thead-light">
                        <tr>
                            <th>ID</th>
                            <th>公司名称</th>
                            <th>地址</th>
                            <th>电话</th>
                            <th>邮箱</th>
                            <th>组织机构代码</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each = "user: ${pageInfo.list}">
                            <td th:text = "${user.id}"></td>
                            <td th:text = "${user.comName}"></td>
                            <td th:text = "${user.comAddre}"></td>
                            <td th:text = "${user.comPhone}"></td>
                            <td th:text = "${user.comEmail}"></td>
                            <td th:text = "${user.comCode}"></td>
                            <td>
                            <a th:href = "@{'/company/toCompanyInfo?companyId='+${user.id}}" > <button id="update"  >编辑</button></a>
                            <button id="delete" th:attr="data-id=${user.id}">删除</button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                

                    <div class="container">
                        <nav aria-label="Page navigation example">
                            <div class = "aad"> 当前第<span th:text="${pageInfo.pageNum} "></span>页.每页条数：<span th:text="${pageInfo.pageSize}"></span>
                                一共 <span th:text="${pageInfo.total}"></span> 条记录</div>
                            <ul id="page" class="pagination" >
                                <li class="page-item">
                                    <a class="page-link" th:href="@{'/menu/getMenu?pageNum='+${pageInfo.firstPage}}" >首页</a>
                                </li>
                                <!--上一页-->
                                <li class="page-item" th:if="${pageInfo.hasPreviousPage}">
                                    <a class="page-link" th:href="@{'/menu/getMenu?pageNum='+${pageInfo.prePage}}"  >
                                        <i class="fa fa-angle-left"></i>&nbsp;上一页
                                    </a>
                                </li>
                                <!--循环遍历连续显示的页面，若是当前页就高亮显示，并且没有链接-->
                                <th:block th:each="nav : ${pageInfo.navigatepageNums}" >
                                    <li class="page-item" th:class="${nav==pageInfo.pageNum}?'active':''" >
                                        <a class="page-link" th:href="@{'/menu/getMenu?pageNum='+${nav}}"
                                           th:text="${nav}"></a></li>
                                </th:block>

                                <th:block th:if="${pageInfo.hasNextPage}">
                                    <li class="page-item">
                                        <a class="page-link" th:href="@{'/menu/getMenu?pageNum='+${pageInfo.nextPage}}" > 下一页&nbsp;<i class="fa fa-angle-right"></i>
                                        </a>
                                    </li>
                                </th:block>
                                <li class="page-item">
                                    <a class="page-link" th:href="@{'/menu/getMenu?pageNum='+${pageInfo.lastPage}}">尾页</a>
                                </li>
                            </ul>
                        </nav>
                    </div>

            </div>
        </div>
    </div>
</div>
</body>
<script type="text/javascript" src="/admin/js/jquery.js"></script>
<script type="text/javascript" src="/admin/js/global.js"></script>
<script type="text/javascript" src="/admin/js/jquery.select.js"></script>
<script type="text/javascript" src="/admin/js/core.js"></script>
<script type="text/javascript" src="/admin/js/jquery.pagination.js"></script>
<script type="text/javascript" src="/admin/js/jquery.grid.js"></script>
<script type="text/javascript" src="/admin/js/WdatePicker.js"></script>
<script type="text/javascript">
	$('select').select();

	$('.search-box input[type=radio]').click(function(e) {
        if($(this).prop('checked')){
			if($(this).attr('data-define') === 'define'){
				$('.define-input').show();
			}else{
				$('.define-input').hide();
			}
		}
    });
</script>
</html>
