<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=emulateIE7" />
<link rel="stylesheet" type="text/css" href="/admin/css/style.css" />
<link rel="stylesheet" type="text/css" href="/admin/css/skin_/login.css" />
<script type="text/javascript" src="/admin/js/jquery.js"></script>
<script type="text/javascript" src="/admin/js/jquery.select.js"></script>
<title>蓝色企业数字办公后台管理模板_用户登录</title>
</head>

<body>
<div id="container">
    <div id="bd">
    	<div id="main">
        	<div class="login-box">
                <div id="logo"></div>
                <h1></h1>
                <!--<form id="loginForm" action="login" name="loginForm">-->
                    <!--<div class="userArea input username" id="userArea">-->
                        <!--<div class="inputOuter">-->
                            <!--<input type="text" name="username" class="inputstyle" placeholder="用户名"tabindex="1" />-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="pwdArea input psw" id="pwdArea">-->
                        <!--<div class="inputOuter">-->
                            <!--<input type="password" name="password" class="inputstyle" placeholder="密码" tabindex="1" />-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="submit">-->
                        <!--<a class="loginButton" href="" hidefocus="true">-->
                            <!--<input type="submit" tabindex="6" value="登 录" class="btn" id="loginButton" />-->
                        <!--</a>-->
                    <!--</div>-->
                <!--</form>-->
                <form id="loginForm" action="login" name="loginForm">
                 <div class="input username" id="username" >
                    <label for="userName">用户名</label>
                    <span></span>
                    <input type="text" id="username" name="username"/>
                </div>
                <div class="input psw" id="psw">
                    <label for="password">密&nbsp;&nbsp;&nbsp;&nbsp;码</label>
                    <span></span>
                    <input type="password" id="password" name="password"/>
                </div>
                <!--<div class="input validate" id="validate">-->
                    <!--<label for="valiDate">验证码</label>-->
                    <!--<input type="text" id="valiDate" />-->
                    <!--<div class="value">X3D5</div>-->
                <!--</div>-->
                <!--<div class="styleArea">-->
                    <!--<div class="styleWrap">-->
                        <!--<select name="style">-->
                            <!--<option value="默认风格">默认风格</option>-->
                            <!--<option value="红色风格">红色风格</option>-->
                            <!--<option value="绿色风格">绿色风格</option>-->
                        <!--</select>-->
                    <!--</div>-->
                <!--</div>-->
                <div id="btn" class="loginButton">
                    <input type="submit" class="button" value="登录"  />
                </div>
                </form>
            </div>

        </div>
        <div id="ft"></div>
    </div>
   
</div>

</body>
<script type="text/javascript">
	var height = $(window).height() > 445 ? $(window).height() : 445;
	$("#container").height(height);
	var bdheight = ($(window).height() - $('#bd').height()) / 2 - 20;
	$('#bd').css('padding-top', bdheight);
	$(window).resize(function(e) {
        var height = $(window).height() > 445 ? $(window).height() : 445;
		$("#container").height(height);
		var bdheight = ($(window).height() - $('#bd').height()) / 2 - 20;
		$('#bd').css('padding-top', bdheight);
    });
	$('select').select();
	
	$('.loginButton').click(function(e) {
        document.location.href = "main.html";
    });
</script>

</html>
