<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>提交失败</title>
</head>
<body>

<div>
    <h1>提交失败</h1>

</div>
<script type="text/javascript">
    var t = 3;//设定跳转的时间
    setInterval("refer()", 1000); //启动1秒定时
    function refer() {
        if (t == 0){
            location.href="/admin/toStudentTable"; //跳转的地址
        }
        document.getElementById('show').innerHTML = "" + t + "秒后跳转到首页"; // 显示倒计时
        t--; // 计数器递减
    }
</script>
<span id="show"></span>
</body>
</html>