<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=emulateIE7" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="/admin/css/style.css" />
    <link rel="stylesheet" type="text/css" href="/admin/css/WdatePicker.css" />
    <link rel="stylesheet" type="text/css" href="/admin/css/skin_/table.css" />
    <link rel="stylesheet" type="text/css" href="/admin/css/jquery.grid.css" />
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<title>表格</title>
</head>

<body>
<div id="container">
	<div id="hd"></div>
    <div id="bd">
    	<div id="main">
             
            <div class="table">
            	<div class="opt ue-clear">
                	<span class="sortarea">
                    	<span class="sort">
                        	<label>排序：</label>
                            <span class="name">
                            	<i class="icon"></i>
                                <span class="text">名称</span>
                            </span>
                        </span>
                        
                        <i class="list"></i>
                        <i class="card"></i>
                    </span>
                	<span class="optarea">
                        <a href="javascript:;" class="add">
                            <i class="icon"></i>
                            <span class="text">添加</span>
                        </a>
                        <a href="javascript:;" class="delete">
                            <i class="icon"></i>
                            <span class="text">删除</span>
                        </a>
                        
                        <a href="javascript:;" class="statistics">
                            <i class="icon"></i>
                            <span class="text">统计</span>
                        </a>
                        
                        <a href="javascript:;" class="config">
                            <i class="icon"></i>
                            <span class="text">配置</span>
                        </a>
                    </span>
                </div>
                
                <div class="grid">
                    <table class="table table-hover table-sm">
                        <thead class="thead-light">
                        <tr>
                            <th>ID</th>
                            <th>标题</th>
                            <th>地点</th>
                            <th>开始时间</th>
                            <th>结束时间</th>
                            <!--<th>发布者</th>-->
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each = "info: ${pageInfo.list}">
                            <td th:text = "${info.id}"></td>
                            <td th:text = "${info.title}"></td>
                            <td th:text = "${info.address}"></td>
                            <td th:text = "${#dates.format(info.startTime,'yyyy-MM-dd HH:mm')}"></td>
                            <td th:text = "${#dates.format(info.endTime,'yyyy-MM-dd HH:mm')}"></td>
                            <!--<td th:text = "${info.authorId}"></td>-->
                            <td>
                                <a  th:href = "@{'/recruit/meeting/toUpdateRecruitMeeting?id='+${info.id}}" ><button id="update" th:attr="data-id=${info.id}" >编辑</button></a>
                                <button id="delete" th:attr="data-id=${info.id}" >删除</button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                

                    <div class="container">
                        <nav aria-label="Page navigation example">
                            <div class = "aad"> 当前第<span th:text="${pageInfo.pageNum} "></span>页.每页条数：<span th:text="${pageInfo.pageSize}"></span>
                                一共 <span th:text="${pageInfo.total}"></span> 条记录</div>
                            <ul id="page" class="pagination" >
                                <li class="page-item">
                                    <a class="page-link" th:href="@{'/recruit/meeting/toMeetingTable?pageNum='+${pageInfo.firstPage}}" >首页</a>
                                </li>
                                <!--上一页-->
                                <li class="page-item" th:if="${pageInfo.hasPreviousPage}">
                                    <a class="page-link" th:href="@{'/recruit/meeting/toMeetingTable?pageNum='+${pageInfo.prePage}}"  >
                                        <i class="fa fa-angle-left"></i>&nbsp;上一页
                                    </a>
                                </li>
                                <!--循环遍历连续显示的页面，若是当前页就高亮显示，并且没有链接-->
                                <th:block th:each="nav : ${pageInfo.navigatepageNums}" >
                                    <li class="page-item" th:class="${nav==pageInfo.pageNum}?'active':''" >
                                        <a class="page-link" th:href="@{'/recruit/meeting/toMeetingTable?pageNum='+${nav}}"
                                           th:text="${nav}"></a></li>
                                </th:block>

                                <th:block th:if="${pageInfo.hasNextPage}">
                                    <li class="page-item">
                                        <a class="page-link" th:href="@{'/recruit/meeting/toMeetingTable?pageNum='+${pageInfo.nextPage}}" > 下一页&nbsp;<i class="fa fa-angle-right"></i>
                                        </a>
                                    </li>
                                </th:block>
                                <li class="page-item">
                                    <a class="page-link" th:href="@{'/recruit/meeting/toMeetingTable?pageNum='+${pageInfo.lastPage}}">尾页</a>
                                </li>
                            </ul>
                        </nav>
                    </div>

            </div>
        </div>
    </div>
</div>
</body>
<script type="text/javascript" src="/admin/js/jquery.js"></script>
<script type="text/javascript" src="/admin/js/global.js"></script>
<script type="text/javascript" src="/admin/js/jquery.select.js"></script>
<script type="text/javascript" src="/admin/js/core.js"></script>
<script type="text/javascript" src="/admin/js/jquery.pagination.js"></script>
<script type="text/javascript" src="/admin/js/jquery.grid.js"></script>
<script type="text/javascript" src="/admin/js/WdatePicker.js"></script>
<script type="text/javascript">
	$('select').select();
    $(function () {
        $('#delete').click(function () {
            var id = $(this).data("id");
            $.ajax({
                url: "/recruit/meeting/delete?id=" + id,
                data: {},
                dataType: "json",
                type: "get",
                success: function (e) {
                    alert("删除成功！");
                    location.reload();
                }
            })
        })
    });
	
	$('.search-box input[type=radio]').click(function(e) {
        if($(this).prop('checked')){
			if($(this).attr('data-define') === 'define'){
				$('.define-input').show();
			}else{
				$('.define-input').hide();
			}
		}
    });
</script>
</html>
