<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=emulateIE7" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="/admin/css/style.css" />
    <link rel="stylesheet" type="text/css" href="/admin/css/WdatePicker.css" />
    <link rel="stylesheet" type="text/css" href="/admin/css/skin_/table.css" />
    <link rel="stylesheet" type="text/css" href="/admin/css/jquery.grid.css" />
    <link rel="stylesheet" type="text/css" href="/admin/css/jquery-ui.css" />
    <link rel="stylesheet" type="text/css" href="/admin/css/jqueryui-style.css" />
    <link rel="stylesheet" href="/admin/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>表格</title>
</head>

<body>
<div id="container">
    <div id="bd">
        <div id="main">
            <div class="login-box ">

                <h3>修改学生信息</h3>
                <form id="loginForm" name="loginForm" role="form" class="form-horizontal">

                    <input type="hidden" class="form-control" name="id" th:value="${student.id}"/>
                    <input type="hidden" id="userId" class="form-control" name="userId" th:value="${student.userId}"/>

                    <div class="form-group name"  >
                        <label for="name" class="col-sm-3 control-label">姓名</label>
                        <span></span>
                        <div class="col-sm-4">
                        <input type="text" id="name" class="form-control " name="name" th:value="${student.name}"/>
                        </div>
                    </div>
                    <div class="form-group" >
                        <label for="idNum" class="col-sm-3 control-label">身份证</label>
                        <span></span>
                        <div class="col-sm-6">
                        <input type="text" id="idNum" class="form-control col-sm-6" name="idNum" th:value="${student.idNum}"/>
                        </div>
                    </div>
                    <div class="form-group" id="gender">
                        <label for="gender" class="col-sm-3 control-label">性别</label>
                        <div class="col-sm-4">
                        <select name = "gender" class="form-control ">
                            <option value ="1" th:selected="${student.gender == 1}">男</option>
                            <option value ="0" th:selected="${student.gender == 0}">女</option>
                        </select>
                        </div>
                    </div>
                    <div class="form-group" id="studentId">
                        <label for="studentId" class="col-sm-3 control-label">学号</label>
                        <span></span>
                        <div class="col-sm-6">
                        <input type="text" class="form-control " id="studentId" name="studentId" th:value="${student.studentId}"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="institude" class="col-sm-3 control-label">学院</label>
                        <div class="col-sm-6">
                        <select name = "institude" id="institude" class="form-control ">
                            <option th:each="institude : ${institudes}" th:value ="${institude.instituId}" th:selected="${student.institude == institude.instituId}" th:text="${institude.instituName}"></option>
                        </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="profession" class="col-sm-3 control-label">专业</label>
                        <div class="col-sm-6">
                        <select name = "profession" id="profession" class="form-control ">
                            <option th:each="profession : ${professions}" th:value ="${profession.professionId}" th:selected="${student.profession == profession.professionId}" th:text="${profession.professionName}"></option>
                        </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="studentClass" class="col-sm-3 control-label">班级</label>
                        <span></span>
                        <div class="col-sm-6">
                        <input type="text" class="form-control " id="studentClass" name="studentClass" th:value="${student.studentClass}"/>
                        </div>
                    </div>
                    <div class="form-group" id="education">
                        <label for="education" class="col-sm-3 control-label">学历</label>
                        <div class="col-sm-4">
                        <select name = "education" class="form-control ">
                            <option value ="1" th:selected="${student.education == 1}">研究生</option>
                            <option value ="0" th:selected="${student.education == 0}">本科</option>
                        </select>
                        </div>
                    </div>
                    <div class="form-group" >
                        <label for="nation" class="col-sm-3 control-label">民族</label>
                        <span></span>
                        <div class="col-sm-4">
                        <input type="text" id="nation" class="form-control " name="nation" th:value="${student.nation}"/>
                        </div>
                    </div>
                    <div class="form-group" id="phone">
                        <label for="phone" class="col-sm-3 control-label">电话</label>
                        <span></span>
                        <div class="col-sm-6">
                        <input type="text" class="form-control " id="phone" name="phone" th:value="${student.phone}"/>
                        </div>
                    </div>
                    <div id="btn" class="submitBtn">
                        <input type="button" class="button" value="修改"  />
                    </div>
                </form>
            </div>

        </div>
        <div id="ft"></div>
    </div>

</div>

</body>


<script type="text/javascript" src="/admin/js/jquery.js"></script>
<script type="text/javascript" src="/admin/js/global.js"></script>
<script type="text/javascript" src="/admin/js/jquery.select.js"></script>
<script type="text/javascript" src="/admin/js/core.js"></script>
<script type="text/javascript" src="/admin/js/jquery.pagination.js"></script>
<script type="text/javascript" src="/admin/js/jquery.grid.js"></script>
<script type="text/javascript" src="/admin/js/WdatePicker.js"></script>
<script type="text/javascript" src="/admin/js/jquery-ui.js"></script>
<script type="text/javascript" src="/admin/js/bootstrap.min.js"></script>
<script>

    $('.submitBtn').on('click',function(){
        $.ajax({
            url: "/student/update_or_insert",
            type: "POST",
            data: JSON.stringify($('form').serializeObject()),
            contentType:"application/json",
            success:function(){
                alert("修改成功");
                location.href="/student/toStudentTable";
            }
        });
    });

    $.fn.serializeObject = function () {
        var o = {};
        var a = this.serializeArray();
        $.each(a, function () {
            if (o[this.name]) {
                if (!o[this.name].push) {
                    o[this.name] = [o[this.name]];
                }
                o[this.name].push(this.value || '');
            } else {
                o[this.name] = this.value || '';
            }
        });
        return o;
    };

    $("select#institude").change(function(){
        $.ajax({
            url: "/student/professions?institudeId=" + $(this).val(),
            type: "GET",
            success:function(result){
                $("select#profession").empty();
                $.each(result, function (index, elem) {
                    $("select#profession").append("<option value='" + elem.professionId + "'>" + elem.professionName + "</option>")
                })
            }
        });
    });


</script>
</html>
