<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=emulateIE7"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="stylesheet" type="text/css" href="/admin/css/style.css"/>
    <link rel="stylesheet" type="text/css" href="/admin/css/WdatePicker.css"/>
    <link rel="stylesheet" type="text/css" href="/admin/css/skin_/form.css"/>
    <link href="/admin/umeditor/themes/default/_css/umeditor.css" type="text/css" rel="stylesheet">
    <link href="/admin/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="/admin/css/bootstrap-datetimepicker.min.css" rel="stylesheet" media="screen">
    <script type="text/javascript" src="/admin/js/jquery.js"></script>
    <script type="text/javascript" src="/admin/js/global.js"></script>
    <script type="text/javascript" src="/admin/js/jquery.select.js"></script>
    <script type="text/javascript" src="/admin/js/WdatePicker.js"></script>
    <script type="text/javascript" src="/admin/js/jquery-1.8.3.min.js" charset="UTF-8"></script>
    <script type="text/javascript" src="/admin/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/admin/js/bootstrap-datetimepicker.js" charset="UTF-8"></script>
    <script type="text/javascript" src="/admin/js/locales/bootstrap-datetimepicker.zh-CN.js" charset="UTF-8"></script>

    <title>基础信息</title>
</head>

<body>
<div id="container">
    <div id="hd">
    </div>
    <div id="bd">
        <div id="main">
            <h2 class="subfild">
                <span>基本信息</span>
            </h2>
            <form action="/recruit/meeting/update" method="post" accept-charset="utf-8" >
                <div class="subfild-content base-info">
                    <div class="kv-item ue-clear">
                        <input th:value = "${recruitMeeting.id}" name="id" hidden />
                        <!--<input th:value = "${#dates.format(recruitMeeting.createTime,'yyyy-MM-dd HH:mm:ss')}" name="createTime" hidden />-->
                        <!--<input th:value = "${recruitMeeting.status}" name="status" hidden />-->
                        <!--<input th:value = "${recruitMeeting.authorId}" name="authorId" hidden />-->
                        <label><span class="impInfo">*</span>文章标题</label>
                        <div class="kv-item-content">
                            <input type="text" id="title" name="title" placeholder="文章标题" th:value="${recruitMeeting.title}"/>
                        </div>
                    </div>

                    <div class="kv-item ue-clear">
                        <label><span class="impInfo">*</span>举办地点</label>
                        <div class="kv-item-content">
                            <input type="text" id="address" name="address" placeholder="举办地点" th:value="${recruitMeeting.address}"/>
                        </div>
                    </div>
                    <div class="kv-item ue-clear">
                        <label><span class="impInfo">*</span>开始时间</label>
                        <div class="kv-item-content">
                            <input type="text" id="startTime" class="datetimePicker" autocomplete="off" name="startTime" placeholder="开始时间" th:value="${#dates.format(recruitMeeting.startTime,'yyyy-MM-dd HH:mm:ss')}" />
                        </div>
                    </div>
                    <div class="kv-item ue-clear">
                        <label><span class="impInfo">*</span>结束时间</label>
                        <div class="kv-item-content">
                            <input type="text" id="endTime" name="endTime" class="datetimePicker" autocomplete="off" placeholder="结束时间" th:value="${#dates.format(recruitMeeting.endTime,'yyyy-MM-dd HH:mm:ss')}"/>
                        </div>
                    </div>
                </div>

                <h2 class="subfild">
                    <span>文章内容</span>
                </h2>

                <div class="subfild-content remarkes-info">
                    <div class="kv-item ue-clear">
                        <label><span class="impInfo">*</span>文章内容</label>
                        <div class="kv-item-content">
                        <textarea placeholder="文章内容" name="content" id="content" style="width:800px;height:240px;" th:text="${recruitMeeting.content}"></textarea>
                        </div>

                    </div>
                </div>

                <div class="submitBtn">
                    <button class="button" type="submit">提交</button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
<script type="text/javascript">
    window.UMEDITOR_HOME_URL = '/admin/umeditor/';  // 请换成绝对路径
</script>
<script type="text/javascript" src="/admin/js/umeditor.config.js"></script>
<script type="text/javascript" src="/admin/js/editor_api.js"></script>
<script type="text/javascript" charset="utf-8" src="/admin/umeditor/lang/zh-cn/zh-cn.js"></script>
<script type="text/javascript">

     $('select').select();
     showRemind('input[type=text],textarea','color5');
     UM.getEditor('content');
     $(".datetimePicker").datetimepicker({
         language:  'zh-CN',
         weekStart: 1,
         todayBtn:  1,
         autoclose: 1,
         todayHighlight: 1,
         startView: 2,
         forceParse: 0,
         showMeridian: 1,
         format: "yyyy-mm-dd hh:ii:ss"
     });
</script>
</html>
