<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=emulateIE7" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="/admin/css/style.css" />
<link rel="stylesheet" type="text/css" href="/admin/css/WdatePicker.css" />
<link rel="stylesheet" type="text/css" href="/admin/css/skin_/table.css" />
<link rel="stylesheet" type="text/css" href="/admin/css/jquery.grid.css" />
    <link rel="stylesheet" type="text/css" href="/admin/css/jquery-ui.css" />
    <link rel="stylesheet" type="text/css" href="/admin/css/bootstrap.min.css" />
    <script src="/admin/js/bootstrap.min.js"></script>
    <script src="/admin/js/jquery-ui.js"></script>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>

<title>表格</title>
</head>

<body>
<div id="container">
	<div id="hd"></div>
    <div id="bd">
    	<div id="main">
            <div class="table">

                <div class="grid">
                    <table class="table table-hover table-sm">
                        <thead class="thead-light">
                        <tr>
                            <th>ID</th>
                            <th>用户名</th>
                            <th>用户类别</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each = "user: ${pageInfo.list}">
                            <td th:text = "${user.id}"></td>
                            <td th:text = "${user.username}"></td>
                            <td th:text = "${user.userType}"></td>
                            <td >
                                <a th:href = "@{'/user/toUserChange?id='+${user.id}}"><button id="update">编辑</button></a>
                                <button id="delete" th:attr="data-id=${user.id}">删除</button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <div id="dialog-form"  class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" title="添加" style="display:none">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title" id="myModalLabel">模态框（Modal）标题</h4>
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            </div>
                            <div class="modal-body"> <p class="validateTips">所有的表单字段都是必填的。</p>

                                <form id="dialogForm">

                                    <input name="id" hidden/>
                                    <div  class="form-group">
                                        <label for="username">用户名</label>
                                        <input type="text" name="username" id="username" class="text ui-widget-content ui-corner-all">
                                    </div>
                                    <div  class="form-group">
                                        <label for="password">密码</label>
                                        <input type="text" name="password" id="password" value="" class="text ui-widget-content ui-corner-all">
                                    </div>
                                    <div  class="form-group">
                                        <label for="userType">用户类型</label>
                                        <select name="userType" id="userType" class="text ui-widget-content ui-corner-all">
                                            <option></option>
                                        </select>
                                    </div>

                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                                <button type="button" class="btn btn-primary" id="submit">提交</button>
                            </div>
                        </div><!-- /.modal-content -->
                    </div><!-- /.modal -->

                </div>


                    <div class="container">
                        <nav aria-label="Page navigation example">
                            <div class = "aad"> 当前第<span th:text="${pageInfo.pageNum} "></span>页.每页条数：<span th:text="${pageInfo.pageSize}"></span>
                                一共 <span th:text="${pageInfo.total}"></span> 条记录</div>
                            <ul id="page" class="pagination" >
                                <li class="page-item">
                                    <a class="page-link" th:href="@{'/menu/getMenu?pageNum='+${pageInfo.firstPage}}" >首页</a>
                                </li>
                                <!--上一页-->
                                <li class="page-item" th:if="${pageInfo.hasPreviousPage}">
                                    <a class="page-link" th:href="@{'/menu/getMenu?pageNum='+${pageInfo.prePage}}"  >
                                        <i class="fa fa-angle-left"></i>&nbsp;上一页
                                    </a>
                                </li>
                                <!--循环遍历连续显示的页面，若是当前页就高亮显示，并且没有链接-->
                                <th:block th:each="nav : ${pageInfo.navigatepageNums}" >
                                    <li class="page-item" th:class="${nav==pageInfo.pageNum}?'active':''" >
                                        <a class="page-link" th:href="@{'/menu/getMenu?pageNum='+${nav}}"
                                           th:text="${nav}"></a></li>
                                </th:block>

                                <th:block th:if="${pageInfo.hasNextPage}">
                                    <li class="page-item">
                                        <a class="page-link" th:href="@{'/menu/getMenu?pageNum='+${pageInfo.nextPage}}" > 下一页&nbsp;<i class="fa fa-angle-right"></i>
                                        </a>
                                    </li>
                                </th:block>
                                <li class="page-item">
                                    <a class="page-link" th:href="@{'/menu/getMenu?pageNum='+${pageInfo.lastPage}}">尾页</a>
                                </li>
                            </ul>
                        </nav>
                    </div>

            </div>
        </div>
    </div>
</div>
</body>
<script type="text/javascript" src="/admin/js/jquery.js"></script>
<script type="text/javascript" src="/admin/js/jquery-1.8.3.min.js"></script>
<script type="text/javascript" src="/admin/js/global.js"></script>
<script type="text/javascript" src="/admin/js/jquery.select.js"></script>
<script type="text/javascript" src="/admin/js/core.js"></script>
<script type="text/javascript" src="/admin/js/jquery.pagination.js"></script>
<script type="text/javascript" src="/admin/js/jquery.grid.js"></script>
<script type="text/javascript" src="/admin/js/WdatePicker.js"></script>

<script type="text/javascript">

    $(function() {

        $(".add")[0].click(function () {
            $("#dialog-form").dialog("open");
        });

        $("#submit").click(
            function () {

                var form = $("#dialogForm");
                $.ajax({
                    url: "/user/insert",
                    data: form.serialize(),
                    dataType: "json",
                    type: "POST",
                    success: function (data) {
                        $("#dialog").dialog("close");
                        alert("成功啦");
                    },
                    error: function () {
                        $("#dialog").dialog("close");
                        alert("出错了哦");
                    }
                })
            });


        $('#delete').click(function (e) {
            var id = $(this).data("id");
            $.ajax({
                url: "/user/delete?id=" + id,
                data: {},
                dataType: "json",
                type: "get",
                success: function (data) {
                    if(data > 0) {
                        alert("删除成功！");
                    }else if(data == -1){
                        alert("此账号已绑定用户，无法删除！");
                    }else{
                        alert("删除失败！");
                    }
                    location.reload();
                }
            })
        })
    })
        function update_click() {
            var id = $("#update").data("id");
            $.ajax({
                url:"/user/query?id=" + id,
                data:{},
                dataType:"json",
                type:"get",
                success:function (data) {
                    $("input[name='id']").val(data.id);
                    $("input[name='username']").val(data.username);
                }
            })
        }


</script>
</html>
