<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="/front/layout/style.css" type="text/css"/>

<body>

<footer th:fragment="footer">
    <div id="footer">
        <section class="top">
            <div class="inner">
                <div id="logo_bottom"><a href="index.html"><img src="/front/images/logo_bottom.png" alt=""/></a>
                </div>

                <div class="block_to_top">
                    <a href="#header">回到顶部</a>
                </div>
            </div>
        </section>

        <section class="middle">
            <div class="inner">
                <div class="line_1"></div>

                <div class="block_footer_widgets">
                    <div class="column">
                        <h3>大学生就业指导中心</h3>
                        <p>工作时间：周一至周五 上午：8:00-12:00 下午：2:00-5:00</p>
                        <p>电  话：  027-87542328、87543914</p>
                        <p>邮  箱：  job@hust.edu.cn</p>
                        <p>地  址：  大学生活动中心A座一楼</p>
                    </div>
                    <div class="column">
                        <h3>Tags</h3>
                        <p>工作时间：周一至周五 上午：8:00-12:00 下午：2:00-5:00</p>
                        <p>电  话：  027-87542328、87543914</p>
                        <p>邮  箱：  job@hust.edu.cn</p>
                        <p>地  址：  大学生活动中心A座一楼</p>
                    </div>
                </div>
            </div>
        </section>

        <section class="bottom">
            <div class="inner">
                <div class="line_1"></div>

                <div class="fr">
                    <div class="block_menu_footer">
                        <ul>
                            <li><a href="business.html">Business</a></li>
                            <li><a href="technology.html">Technology</a></li>
                            <li><a href="education.html">Education</a></li>
                            <li><a href="media.html">Media</a></li>
                        </ul>
                    </div>

                    <div class="block_social_footer">
                        <ul>
                            <li><a href="#" class="fb">Facebook</a></li>
                            <li><a href="#" class="tw">Twitter</a></li>
                            <li><a href="#" class="rss">RSS</a></li>
                        </ul>
                    </div>
                </div>

                <div class="block_copyrights"><p>&copy; 2019 Business Press. All rights reserved. Collect from <a
                        href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a></p></div>
            </div>
        </section>

</footer>
</div>
</body>
</html>
