<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="/front/layout/style.css" type="text/css"/>
<script type="text/javascript" src="/front/layout/js/main.js"></script>
<body>
<header th:fragment="header">
    <div id="header">
        <section class="top">
            <div class="inner">
                <div class="fl">
                    <div class="block_top_menu">
                            <p class="welcome">欢迎进入学生就业信息网</p>
                    </div>
                </div>

                <div class="fr">
                    <div class="block_top_menu">
                        <ul>
                            <li class="current"><a href="#login" class="open_popup">登录</a></li>
                            <li><a href="/user/toRegister">注册</a></li>
                        </ul>
                    </div>
                </div>

                <div class="clearboth"></div>
            </div>
        </section>

        <section class="bottom">
            <div class="inner">
                <div id="logo_top"><a href="/index/"><img src="/front/images/logo_top_meitu_1.jpg" alt="BusinessNews"
                                                          title="大学生就业信息网"/></a></div>

                <div class="block_today_date">
                    <div class="num"><p id="num_top"/></div>
                    <div class="other">
                        <p class="month_year"><span id="month_top"></span>, <span id="year_top"></span></p>
                        <p id="day_top" class="day"/>
                    </div>
                </div>
                <div class="fr">
                    <div class="block_languages">
                        <div class="clearboth"></div>
                    </div>
                    <div class="block_search_top">
                        <form action="#"/>
                        <!--<div class="field"><input type="text" class="w_def_text"/>-->
                        <!--</div>-->
                        <input type="submit" class="button" value="Search"/>
                        <div class="clearboth"></div>
                        </form>
                    </div>
                </div>

                <div class="clearboth"></div>
            </div>
        </section>

        <section class="section_main_menu">
            <div class="inner">
                <nav class="main_menu">
                    <ul>
                        <li class="current_page_item"><a href="/index">首页</a></li>
                        <li  data-content="business"><a href="/article/toList?articleType=2">新闻动态</a></li>
                        <li  data-content="technology"><a href="/article/toList?articleType=1">通知公告</a>
                        </li>
                        <li  data-content="education"><a href="/recruit/meeting/toList">宣讲会信息</a>
                        </li>
                        <li><a href="/recruit/info/toList">招聘信息</a>
                        </li>
                        <li><a href="/article/toList?articleType=3">政策法规</a>
                        </li>
                        <li><a href="/article/toList?articleType=4">办事流程</a>
                        </li>
                        <li><a href="/article/toList?articleType=5">就业指导</a>
                        </li>
                    </ul>
                </nav>
                <div class="block_clock">
                    <p>时间: <span id="time"></span></p>
                </div>

            </div>
        </section>
    </div>
</header>
</body>
<script>



    // $('.main_menu li').click(function () {
    //     alert("1");
    //     this.addClass('current_page_item').siblings('li').removeClass('current_page_item');
    // });
</script>
</html>
