<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="/front/layout/style.css" type="text/css"/>
<body>
<header th:fragment="header">
    <div id="header">
        <section class="top">
            <div class="inner">
                <div class="fl">
                    <div class="block_top_menu">

                            <p class="welcome">欢迎进入学生就业信息网</p>

                    </div>
                </div>

                <div class="fr">
                    <div class="block_top_menu">
                        <ul>
                            <li class="current"><a href="#login" class="open_popup">登录</a></li>
                            <li><a href="/user/toRegister">注册</a></li>
                        </ul>
                    </div>
                </div>

                <div class="clearboth"></div>
            </div>
        </section>

        <section class="bottom">
            <div class="inner">
                <div id="logo_top"><a href="/index/"><img src="/front/images/logo_top_meitu_1.jpg" alt="BusinessNews"
                                                          title="BusinessNews"/></a></div>

                <div class="block_today_date">
                    <div class="num"><p id="num_top"/></div>
                    <div class="other">
                        <p class="month_year"><span id="month_top"></span>, <span id="year_top"></span></p>
                        <p id="day_top" class="day"/>
                    </div>
                </div>
                <div class="fr">
                    <div class="block_languages">
                        <div class="clearboth"></div>
                    </div>
                    <div class="block_search_top">
                        <form action="#"/>
                        <div class="field"><input type="text" class="w_def_text" title="Enter Your Email Addres"/>
                        </div>
                        <input type="submit" class="button" value="Search"/>

                        <div class="clearboth"></div>
                        </form>
                    </div>
                </div>

                <div class="clearboth"></div>
            </div>
        </section>

        <section class="section_main_menu">
            <div class="inner">
                <nav class="main_menu">
                    <ul>
                        <li class="current_page_item"><a href="/index/">首页</a></li>
                        <li class="big_dropdown" data-content="business"><a href="/article/toList?articleType=2">新闻动态</a></li>
                        <li class="big_dropdown" data-content="technology"><a href="/article/toList?articleType=1">通知公告</a>
                        </li>
                        <li class="big_dropdown" data-content="education"><a href="/recruit/meeting/toList">宣讲会信息</a>
                        </li>
                        <li><a href="/recruit/info/toList">招聘信息</a>

                            <ul>
                                <li><a href="media.html">Media</a></li>
                                <li><a href="media_item.html">Media Item Page</a></li>
                            </ul>
                        </li>
                        <li><a href="/article/toList?articleType=3">政策法规</a>

                            <!--<ul>-->
                                <!--<li><a href="about.html">About Us</a></li>-->
                                <!--<li><a href="about_author.html">About Author Page</a></li>-->
                                <!--<li><a href="contact.html">Contact Us</a></li>-->
                                <!--<li><a href="registration.html">Registration Page</a></li>-->
                                <!--<li><a href="main_news.html">Main News Page</a></li>-->
                                <!--<li><a href="news_post_w_slider.html">News Post With Slider</a></li>-->
                                <!--<li><a href="news_post_w_video.html">News Post With Video</a></li>-->
                            <!--</ul>-->
                        </li>
                        <li><a href="/article/toList?articleType=4">办事流程</a>

                            <!--<ul>-->
                                <!--<li><a href="blog.html">Our Blog Style 1</a></li>-->
                                <!--<li><a href="blog_style_2.html">Our Blog Style 2</a></li>-->
                                <!--<li><a href="blog_post.html">Blog Post Page</a></li>-->
                                <!--<li><a href="blog_post_w_slider.html">Post With Slider</a></li>-->
                                <!--<li><a href="blog_post_w_video.html">Post With Video</a></li>-->
                            <!--</ul>-->
                        </li>
                        <li><a href="/article/toList?articleType=5">就业指导</a>

                            <!--<ul>-->
                                <!--<li><a href="accordion.html">Accordeon</a></li>-->
                                <!--<li><a href="blockquote.html">Blockquote</a></li>-->
                                <!--<li><a href="table.html">Table</a></li>-->
                                <!--<li><a href="columns.html">Columns</a></li>-->
                                <!--<li><a href="pricing_table.html">Pricing Table</a></li>-->
                                <!--<li><a href="testimonials.html">Testimonials</a></li>-->
                                <!--<li><a href="boxes.html">Info Boxes</a></li>-->
                                <!--<li><a href="dropcaps.html">Dropcaps</a></li>-->
                                <!--<li><a href="tabs.html">Tabs</a></li>-->
                                <!--<li><a href="lists.html">List Slyle</a></li>-->
                                <!--<li><a href="buttons.html">Buttons</a></li>-->
                                <!--<li><a href="video.html">Video</a></li>-->
                                <!--<li><a href="typography.html">Typography</a></li>-->
                            <!--</ul>-->
                        </li>
                    </ul>
                </nav>
                <div class="block_clock">
                    <p>Time: <span id="time"></span></p>
                </div>

            </div>
        </section>

        <!--<section class="section_big_dropdown">-->
        <!--<div class="inner">-->
        <!--<div class="block_big_dropdown" data-menu="business">-->
        <!--<div class="content">-->
        <!--<div class="image">-->
        <!--<a href="blog_post.html" class="pic"><img src="/front/images/pic_big_drop_3.jpg"-->
        <!--alt=""/></a>-->
        <!--<p><a href="blog_post.html">Embarrassing hidden in the middleany thing</a></p>-->
        <!--</div>-->
        <!--<div class="line"></div>-->

        <!--<div class="image">-->
        <!--<a href="blog_post.html" class="pic"><img src="/front/images/pic_big_drop_4.jpg"-->
        <!--alt=""/></a>-->
        <!--<p><a href="blog_post.html">Content of a page when looking.</a></p>-->
        <!--</div>-->
        <!--<div class="line"></div>-->

        <!--<div class="popular_posts">-->
        <!--<div class="title"><p>Popular Posts</p></div>-->
        <!--<ul>-->
        <!--<li><a href="blog_post.html"><span>11 July, 2012</span>Established fact that a-->
        <!--reader.</a></li>-->
        <!--<li><a href="blog_post_w_slider.html"><span>08 July, 2012</span>Editors now use as-->
        <!--their default model text.</a></li>-->
        <!--<li><a href="blog_post_w_video.html"><span>05 July, 2012</span>Embarrassing hidden-->
        <!--in the middle.</a></li>-->
        <!--<li><a href="blog_post.html"><span>01 July, 2012</span>Anything embarrassing hidden-->
        <!--in the middl.</a></li>-->
        <!--</ul>-->
        <!--</div>-->
        <!--<div class="line"></div>-->

        <!--<div class="more">-->
        <!--<div class="title"><p>More In Business</p></div>-->
        <!--<ul>-->
        <!--<li><a href="#">Business</a></li>-->
        <!--<li><a href="#">Money</a></li>-->
        <!--<li><a href="#">Isnvestor Programs</a></li>-->
        <!--<li><a href="#">Banks</a></li>-->
        <!--</ul>-->
        <!--</div>-->

        <!--<div class="clearboth"></div>-->
        <!--</div>-->
        <!--</div>-->

        <!--<div class="block_big_dropdown" data-menu="technology">-->
        <!--<div class="content">-->
        <!--<div class="image">-->
        <!--<a href="blog_post.html" class="pic"><img src="/front/images/pic_big_drop_5.jpg"-->
        <!--alt=""/></a>-->
        <!--<p><a href="blog_post.html">Simply dummy text of the printing.</a></p>-->
        <!--</div>-->
        <!--<div class="line"></div>-->

        <!--<div class="image">-->
        <!--<a href="blog_post.html" class="pic"><img src="/front/images/pic_big_drop_6.jpg"-->
        <!--alt=""/></a>-->
        <!--<p><a href="blog_post.html">Internet tend to repeat predefined chunks.</a></p>-->
        <!--</div>-->
        <!--<div class="line"></div>-->

        <!--<div class="popular_posts">-->
        <!--<div class="title"><p>Popular Posts</p></div>-->
        <!--<ul>-->
        <!--<li><a href="blog_post.html"><span>11 July, 2012</span>Publishing packages and web-->
        <!--page</a></li>-->
        <!--<li><a href="blog_post_w_slider.html"><span>08 July, 2012</span>Generators on the-->
        <!--Internet tend to repeat.</a></li>-->
        <!--<li><a href="blog_post_w_video.html"><span>05 July, 2012</span>Anything embarrassing-->
        <!--hidden in the middle.</a></li>-->
        <!--<li><a href="blog_post.html"><span>01 July, 2012</span>Words which don't look even-->
        <!--slightly.</a></li>-->
        <!--</ul>-->
        <!--</div>-->
        <!--<div class="line"></div>-->

        <!--<div class="more">-->
        <!--<div class="title"><p>More In Tech</p></div>-->
        <!--<ul>-->
        <!--<li><a href="#">Web Development</a></li>-->
        <!--<li><a href="#">Programming</a></li>-->
        <!--<li><a href="#">Techique</a></li>-->
        <!--<li><a href="#">Cars</a></li>-->
        <!--</ul>-->
        <!--</div>-->

        <!--<div class="clearboth"></div>-->
        <!--</div>-->
        <!--</div>-->

        <!--<div class="block_big_dropdown" data-menu="education">-->
        <!--<div class="content">-->
        <!--<div class="image">-->
        <!--<a href="blog_post.html" class="pic"><img src="/front/images/pic_big_drop_1.jpg"-->
        <!--alt=""/></a>-->
        <!--<p><a href="blog_post.html">Many desktop packages and web page editors.</a></p>-->
        <!--</div>-->
        <!--<div class="line"></div>-->

        <!--<div class="image">-->
        <!--<a href="blog_post.html" class="pic"><img src="/front/images/pic_big_drop_2.jpg"-->
        <!--alt=""/></a>-->
        <!--<p><a href="blog_post.html">There are many variations passages</a></p>-->
        <!--</div>-->
        <!--<div class="line"></div>-->

        <!--<div class="popular_posts">-->
        <!--<div class="title"><p>Popular Posts</p></div>-->
        <!--<ul>-->
        <!--<li><a href="blog_post.html"><span>11 July, 2012</span>Many desktop publishing-->
        <!--packages and web page</a></li>-->
        <!--<li><a href="blog_post_w_slider.html"><span>08 July, 2012</span>Randomised words-->
        <!--which don't look even.</a></li>-->
        <!--<li><a href="blog_post_w_video.html"><span>05 July, 2012</span>Anything embarrassing-->
        <!--hidden in the middle.</a></li>-->
        <!--<li><a href="blog_post.html"><span>01 July, 2012</span>Established fact that a-->
        <!--reader.</a></li>-->
        <!--</ul>-->
        <!--</div>-->
        <!--<div class="line"></div>-->

        <!--<div class="more">-->
        <!--<div class="title"><p>More In Education</p></div>-->
        <!--<ul>-->
        <!--<li><a href="#">High school</a></li>-->
        <!--<li><a href="#">Univercity</a></li>-->
        <!--<li><a href="#">College</a></li>-->
        <!--<li><a href="#">Students</a></li>-->
        <!--</ul>-->
        <!--</div>-->

        <!--<div class="clearboth"></div>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--</section>-->
    </div>
</header>
</body>
</html>
