<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>就业信息网</title>

    <meta name="keywords" content=""/>
    <meta name="description" content=""/>

    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width"/>

    <!--[if lt IE 9]>
    <script type="text/javascript" src="/front/layout/plugins/html5.js"></script>
    <![endif]-->

    <link rel="stylesheet" href="/front/layout/style.css" type="text/css"/>
    <link href="http://fonts.googleapis.com/css?family=PT+Sans:400,700" rel="stylesheet" type="text/css"/>
    <link href="http://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700" rel="stylesheet" type="text/css"/>
    <link href="http://fonts.googleapis.com/css?family=Droid+Serif:400,400italic" rel="stylesheet" type="text/css"/>

    <script type="text/javascript" src="/front/layout/js/jquery.js"></script>

    <!-- PrettyPhoto start -->
    <link rel="stylesheet" href="/front/layout/plugins/prettyphoto/css/prettyPhoto.css" type="text/css"/>
    <script type="text/javascript" src="/front/layout/plugins/prettyphoto/jquery.prettyPhoto.js"></script>
    <!-- PrettyPhoto end -->

    <!-- jQuery tools start -->
    <script type="text/javascript" src="/front/layout/plugins/tools/jquery.tools.min.js"></script>
    <!-- jQuery tools end -->

    <!-- Calendar start -->
    <link rel="stylesheet" href="/front/layout/plugins/calendar/calendar.css" type="text/css"/>
    <script type="text/javascript" src="/front/layout/plugins/calendar/calendar.js"></script>
    <!-- Calendar end -->

    <!-- ScrollTo start -->
    <script type="text/javascript" src="/front/layout/plugins/scrollto/jquery.scroll.to.min.js"></script>
    <!-- ScrollTo end -->

    <!-- MediaElements start -->
    <link rel="stylesheet" href="/front/layout/plugins/video-audio/mediaelementplayer.css"/>
    <script src="/front/layout/plugins/video-audio/mediaelement-and-player.js"></script>
    <!-- MediaElements end -->

    <!-- FlexSlider start -->
    <link rel="stylesheet" href="/front/layout/plugins/flexslider/flexslider.css" type="text/css"/>
    <script type="text/javascript" src="/front/layout/plugins/flexslider/jquery.flexslider-min.js"></script>
    <!-- FlexSlider end -->

    <!-- iButtons start -->
    <link rel="stylesheet" href="/front/layout/plugins/ibuttons/css/jquery.ibutton.css" type="text/css"/>
    <script type="text/javascript" src="/front/layout/plugins/ibuttons/lib/jquery.ibutton.min.js"></script>
    <!-- iButtons end -->

    <!-- jQuery Form Plugin start -->
    <script type="text/javascript" src="/front/layout/plugins/ajaxform/jquery.form.js"></script>
    <!-- jQuery Form Plugin end -->

    <script type="text/javascript" src="/front/layout/js/main.js"></script>

    <script type="text/javascript">
        jQuery(function () {
        });
    </script>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
</head>

<body>
<div class="wrapper sticky_footer">
    <!-- HEADER BEGIN -->
    <header>
        <div id="header">
            <section class="top">
                <div class="inner">
                    <div class="fl">
                        <div class="block_top_menu">
                            <ul>
                                <li class="welcome">欢迎进入学生就业信息网</li>
                            </ul>
                        </div>
                    </div>

                    <div class="fr">
                        <div class="block_top_menu">
                            <ul>
                                <li class="current"><a href="#login" class="open_popup">登录</a></li>
                                <li><a href="/user/toRegister">注册</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="clearboth"></div>
                </div>
            </section>

            <section class="bottom">
                <div class="inner">
                    <div id="logo_top"><a href="/index/"><img src="/front/images/logo_top.png" alt="BusinessNews"
                                                                 title="BusinessNews"/></a></div>

                    <div class="block_today_date">
                        <div class="num"><p id="num_top"/></div>
                        <div class="other">
                            <p class="month_year"><span id="month_top"></span>, <span id="year_top"></span></p>
                            <p id="day_top" class="day"/>
                        </div>
                    </div>
                    <div class="fr">
                        <div class="block_languages">
                            <div class="clearboth"></div>
                        </div>
                        <div class="block_search_top">
                            <form action="#"/>
                            <div class="field"><input type="text" class="w_def_text" title="Enter Your Email Addres"/>
                            </div>
                            <input type="submit" class="button" value="Search"/>

                            <div class="clearboth"></div>
                            </form>
                        </div>
                    </div>

                    <div class="clearboth"></div>
                </div>
            </section>

            <section class="section_main_menu">
                <div class="inner">
                    <nav class="main_menu">
                        <ul>
                            <li class="current_page_item"><a href="/index/">首页</a></li>
                            <li class="big_dropdown" data-content="business"><a href="">新闻动态</a></li>
                            <li class="big_dropdown" data-content="technology"><a href="technology.html">通知公告</a>
                            </li>
                            <li class="big_dropdown" data-content="education"><a href="education.html">宣讲会信息</a>
                            </li>
                            <li><a href="media.html">招聘信息</a>

                                <ul>
                                    <li><a href="media.html">Media</a></li>
                                    <li><a href="media_item.html">Media Item Page</a></li>
                                </ul>
                            </li>
                            <li><a href="#">Pages</a>

                                <ul>
                                    <li><a href="about.html">About Us</a></li>
                                    <li><a href="about_author.html">About Author Page</a></li>
                                    <li><a href="contact.html">Contact Us</a></li>
                                    <li><a href="registration.html">Registration Page</a></li>
                                    <li><a href="main_news.html">Main News Page</a></li>
                                    <li><a href="news_post_w_slider.html">News Post With Slider</a></li>
                                    <li><a href="news_post_w_video.html">News Post With Video</a></li>
                                </ul>
                            </li>
                            <li><a href="blog.html">Blog</a>

                                <ul>
                                    <li><a href="blog.html">Our Blog Style 1</a></li>
                                    <li><a href="blog_style_2.html">Our Blog Style 2</a></li>
                                    <li><a href="blog_post.html">Blog Post Page</a></li>
                                    <li><a href="blog_post_w_slider.html">Post With Slider</a></li>
                                    <li><a href="blog_post_w_video.html">Post With Video</a></li>
                                </ul>
                            </li>
                            <li><a href="typography.html">Shortcodes</a>

                                <ul>
                                    <li><a href="accordion.html">Accordeon</a></li>
                                    <li><a href="blockquote.html">Blockquote</a></li>
                                    <li><a href="table.html">Table</a></li>
                                    <li><a href="columns.html">Columns</a></li>
                                    <li><a href="pricing_table.html">Pricing Table</a></li>
                                    <li><a href="testimonials.html">Testimonials</a></li>
                                    <li><a href="boxes.html">Info Boxes</a></li>
                                    <li><a href="dropcaps.html">Dropcaps</a></li>
                                    <li><a href="tabs.html">Tabs</a></li>
                                    <li><a href="lists.html">List Slyle</a></li>
                                    <li><a href="buttons.html">Buttons</a></li>
                                    <li><a href="video.html">Video</a></li>
                                    <li><a href="typography.html">Typography</a></li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                    <div class="block_clock">
                        <p>Time: <span id="time"></span></p>
                    </div>

                </div>
            </section>

            <!--<section class="section_big_dropdown">-->
                <!--<div class="inner">-->
                    <!--<div class="block_big_dropdown" data-menu="business">-->
                        <!--<div class="content">-->
                            <!--<div class="image">-->
                                <!--<a href="blog_post.html" class="pic"><img src="/front/images/pic_big_drop_3.jpg"-->
                                                                          <!--alt=""/></a>-->
                                <!--<p><a href="blog_post.html">Embarrassing hidden in the middleany thing</a></p>-->
                            <!--</div>-->
                            <!--<div class="line"></div>-->

                            <!--<div class="image">-->
                                <!--<a href="blog_post.html" class="pic"><img src="/front/images/pic_big_drop_4.jpg"-->
                                                                          <!--alt=""/></a>-->
                                <!--<p><a href="blog_post.html">Content of a page when looking.</a></p>-->
                            <!--</div>-->
                            <!--<div class="line"></div>-->

                            <!--<div class="popular_posts">-->
                                <!--<div class="title"><p>Popular Posts</p></div>-->
                                <!--<ul>-->
                                    <!--<li><a href="blog_post.html"><span>11 July, 2012</span>Established fact that a-->
                                        <!--reader.</a></li>-->
                                    <!--<li><a href="blog_post_w_slider.html"><span>08 July, 2012</span>Editors now use as-->
                                        <!--their default model text.</a></li>-->
                                    <!--<li><a href="blog_post_w_video.html"><span>05 July, 2012</span>Embarrassing hidden-->
                                        <!--in the middle.</a></li>-->
                                    <!--<li><a href="blog_post.html"><span>01 July, 2012</span>Anything embarrassing hidden-->
                                        <!--in the middl.</a></li>-->
                                <!--</ul>-->
                            <!--</div>-->
                            <!--<div class="line"></div>-->

                            <!--<div class="more">-->
                                <!--<div class="title"><p>More In Business</p></div>-->
                                <!--<ul>-->
                                    <!--<li><a href="#">Business</a></li>-->
                                    <!--<li><a href="#">Money</a></li>-->
                                    <!--<li><a href="#">Isnvestor Programs</a></li>-->
                                    <!--<li><a href="#">Banks</a></li>-->
                                <!--</ul>-->
                            <!--</div>-->

                            <!--<div class="clearboth"></div>-->
                        <!--</div>-->
                    <!--</div>-->

                    <!--<div class="block_big_dropdown" data-menu="technology">-->
                        <!--<div class="content">-->
                            <!--<div class="image">-->
                                <!--<a href="blog_post.html" class="pic"><img src="/front/images/pic_big_drop_5.jpg"-->
                                                                          <!--alt=""/></a>-->
                                <!--<p><a href="blog_post.html">Simply dummy text of the printing.</a></p>-->
                            <!--</div>-->
                            <!--<div class="line"></div>-->

                            <!--<div class="image">-->
                                <!--<a href="blog_post.html" class="pic"><img src="/front/images/pic_big_drop_6.jpg"-->
                                                                          <!--alt=""/></a>-->
                                <!--<p><a href="blog_post.html">Internet tend to repeat predefined chunks.</a></p>-->
                            <!--</div>-->
                            <!--<div class="line"></div>-->

                            <!--<div class="popular_posts">-->
                                <!--<div class="title"><p>Popular Posts</p></div>-->
                                <!--<ul>-->
                                    <!--<li><a href="blog_post.html"><span>11 July, 2012</span>Publishing packages and web-->
                                        <!--page</a></li>-->
                                    <!--<li><a href="blog_post_w_slider.html"><span>08 July, 2012</span>Generators on the-->
                                        <!--Internet tend to repeat.</a></li>-->
                                    <!--<li><a href="blog_post_w_video.html"><span>05 July, 2012</span>Anything embarrassing-->
                                        <!--hidden in the middle.</a></li>-->
                                    <!--<li><a href="blog_post.html"><span>01 July, 2012</span>Words which don't look even-->
                                        <!--slightly.</a></li>-->
                                <!--</ul>-->
                            <!--</div>-->
                            <!--<div class="line"></div>-->

                            <!--<div class="more">-->
                                <!--<div class="title"><p>More In Tech</p></div>-->
                                <!--<ul>-->
                                    <!--<li><a href="#">Web Development</a></li>-->
                                    <!--<li><a href="#">Programming</a></li>-->
                                    <!--<li><a href="#">Techique</a></li>-->
                                    <!--<li><a href="#">Cars</a></li>-->
                                <!--</ul>-->
                            <!--</div>-->

                            <!--<div class="clearboth"></div>-->
                        <!--</div>-->
                    <!--</div>-->

                    <!--<div class="block_big_dropdown" data-menu="education">-->
                        <!--<div class="content">-->
                            <!--<div class="image">-->
                                <!--<a href="blog_post.html" class="pic"><img src="/front/images/pic_big_drop_1.jpg"-->
                                                                          <!--alt=""/></a>-->
                                <!--<p><a href="blog_post.html">Many desktop packages and web page editors.</a></p>-->
                            <!--</div>-->
                            <!--<div class="line"></div>-->

                            <!--<div class="image">-->
                                <!--<a href="blog_post.html" class="pic"><img src="/front/images/pic_big_drop_2.jpg"-->
                                                                          <!--alt=""/></a>-->
                                <!--<p><a href="blog_post.html">There are many variations passages</a></p>-->
                            <!--</div>-->
                            <!--<div class="line"></div>-->

                            <!--<div class="popular_posts">-->
                                <!--<div class="title"><p>Popular Posts</p></div>-->
                                <!--<ul>-->
                                    <!--<li><a href="blog_post.html"><span>11 July, 2012</span>Many desktop publishing-->
                                        <!--packages and web page</a></li>-->
                                    <!--<li><a href="blog_post_w_slider.html"><span>08 July, 2012</span>Randomised words-->
                                        <!--which don't look even.</a></li>-->
                                    <!--<li><a href="blog_post_w_video.html"><span>05 July, 2012</span>Anything embarrassing-->
                                        <!--hidden in the middle.</a></li>-->
                                    <!--<li><a href="blog_post.html"><span>01 July, 2012</span>Established fact that a-->
                                        <!--reader.</a></li>-->
                                <!--</ul>-->
                            <!--</div>-->
                            <!--<div class="line"></div>-->

                            <!--<div class="more">-->
                                <!--<div class="title"><p>More In Education</p></div>-->
                                <!--<ul>-->
                                    <!--<li><a href="#">High school</a></li>-->
                                    <!--<li><a href="#">Univercity</a></li>-->
                                    <!--<li><a href="#">College</a></li>-->
                                    <!--<li><a href="#">Students</a></li>-->
                                <!--</ul>-->
                            <!--</div>-->

                            <!--<div class="clearboth"></div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</section>-->
        </div>
    </header>
    <!-- HEADER END -->
    <div class="inner_copyright">Collect from <a href="http://www.cssmoban.com/" target="_blank" title="网站模板">网站模板</a>
    </div>
    <!-- CONTENT BEGIN -->
    <div id="content" class="right_sidebar">
        <div class="inner">
            <div class="general_content">
                <div class="main_content">


                    <div class="block_home_slider">
                        <div id="home_slider" class="flexslider">
                            <ul class="slides">
                                <li>
                                    <div class="slide">
                                        <img src="/front/images/pic_home_slider_1.jpg" alt=""/>
                                        <div class="caption">
                                            <p class="title">Many desktop publishing packages and web page.</p>
                                            <p>There are many variations of passages of available, but the majority have
                                                suffered alteration in some form, by injected humour, or randomised.</p>
                                        </div>
                                    </div>
                                </li>

                                <li>
                                    <div class="slide">
                                        <img src="/front/images/pic_home_slider_2.jpg" alt=""/>
                                        <div class="caption">
                                            <p class="title">Many desktop publishing packages.</p>
                                            <p>There are many variations of passages of available, but the majority have
                                                suffered alteration in some form, by injected humour, or randomised.</p>
                                        </div>
                                    </div>
                                </li>

                                <li>
                                    <div class="slide">
                                        <img src="/front/images/pic_home_slider_3.jpg" alt=""/>
                                        <div class="caption">
                                            <p class="title">Many desktop publishing packages and web page.</p>
                                            <p>There are many variations of passages of available, but the majority.</p>
                                        </div>
                                    </div>
                                </li>

                                <li>
                                    <div class="slide">
                                        <img src="/front/images/pic_home_slider_4.jpg" alt=""/>
                                        <div class="caption">
                                            <p class="title">Many desktop publishing packages and web page.</p>
                                            <p>There are many variations of passages of available, but the majority have
                                                suffered alteration in some form, by injected humour, or randomised, but
                                                the majority have suffered alteration in some form, by injected humour,
                                                or randomised.</p>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>

                        <script type="text/javascript">
                            $(function () {
                                $('#home_slider').flexslider({
                                    animation: 'slide',
                                    controlNav: true,
                                    directionNav: true,
                                    animationLoop: true,
                                    slideshow: false,
                                    useCSS: false
                                });
                            });
                        </script>
                    </div>

                    <div class="line_2" style="margin:34px 0px 28px;"></div>
                    <div class="recruite_meeting_info">
                        <h3 style="font-size: 16px;" class="info_title">宣讲会信息</h3>
                        <span> <a href="/recruit/meeting/toList" class="info_more">更多</a></span>
                        <div class="line_4" style="margin:-4px 0px 18px;"></div>
                        <div class="tab_content" th:each ="info: ${recruitMeeting.list}">
                            <!-- tab content goes here -->
                            <div class="block_home_news_post">
                                <a href="/recruit/meeting/detail"class="recruit_meeting_title"  th:href="@{/recruit/meeting/detail?(id=${info.id})}" th:text = "${info.title}" >
                                </a>
                                    <span class="recruit_meeting_address" th:text = "${info.address}"></span>
                                    <!--<span class="title" th:text="${#dates.format(info.startTime, 'yyyy-MM-dd HH:mm')}"></span>-->
                                    <span class="title" th:text="${info.startTime}"></span>
                            </div>

                            <div class="separator" style="height:7px;"></div>
                            <div class="clearboth"></div>
                        </div>
                    </div>
                    <div class="clearboth"></div>

                    <div class="line_3" style="margin:14px 0px 13px;"></div>
                    <div class="clearboth"></div>
                    <div class="line_3" style="margin:13px 0px 35px;"></div>


                    <div class="recruit_info">
                        <h3 style="font-size:16px;">招聘信息</h3>
                        <span> <a href="/recruit/info/toList" class="info_more">更多</a></span>
                        <div class="line_4" style="margin:-4px 0px 18px;"></div>
                        <div class="tab_content" th:each ="info: ${recruitInfo.list}">
                            <!-- tab content goes here -->
                            <div class="block_home_news_post">
                                <a href="/recruit/info/detail"class="recruit_meeting_title"  th:href="@{/recruit/info/detail?(id=${info.id})}" th:text = "${info.title}" >
                                </a>
                                <span class="title" th:text = "${info.createDate}"></span>
                            </div>

                            <div class="separator" style="height:7px;"></div>
                            <div class="clearboth"></div>
                        </div>
                            <div class="separator" style="height:7px;"></div>
                            <div class="clearboth"></div>
                        </div>
                    </div>
                </div>

                <div class="sidebar">
                    <div class="block_popular_posts">
                        <h4>Popular Posts</h4>

                        <div class="article">
                            <div class="pic">
                                <a href="#" class="w_hover">
                                    <img src="/front/images/pic_popular_post_1.jpg" alt=""/>
                                    <span></span>
                                </a>
                            </div>

                            <div class="text">
                                <p class="title"><a href="#">Packages and web page editors their default text.</a></p>
                                <div class="date"><p>11 July, 2012</p></div>
                                <div class="icons">
                                    <ul>
                                        <li><a href="#" class="views">41</a></li>
                                        <li><a href="#" class="comments">22</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="line_3"></div>

                        <div class="article">
                            <div class="pic">
                                <a href="#" class="w_hover">
                                    <img src="/front/images/pic_popular_post_2.jpg" alt=""/>
                                    <span></span>
                                </a>
                            </div>

                            <div class="text">
                                <p class="title"><a href="#">Web page editors their default model text, and a search
                                    for.</a></p>
                                <div class="date"><p>07 July, 2012</p></div>
                                <div class="icons">
                                    <ul>
                                        <li><a href="#" class="views">24</a></li>
                                        <li><a href="#" class="comments">16</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="line_3"></div>

                        <div class="article">
                            <div class="pic">
                                <a href="#" class="w_hover">
                                    <img src="/front/images/pic_popular_post_3.jpg" alt=""/>
                                    <span></span>
                                </a>
                            </div>

                            <div class="text">
                                <p class="title"><a href="#">Editors their default model text, and a search uncover.</a>
                                </p>
                                <div class="date"><p>05 July, 2012</p></div>
                                <div class="icons">
                                    <ul>
                                        <li><a href="#" class="views">33</a></li>
                                        <li><a href="#" class="comments">25</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="line_2"></div>
                    </div>

                    <div class="separator" style="height:31px;"></div>
                    <div class="block_popular_stuff">
                        <h4>通知公告</h4>
                        <span> <a th:href="@{/article/toList?(articleType=${info.type})}" class="info_more">更多</a></span>
                        <div class="line_4" style="margin:-4px 0px 18px;"></div>
                        <div class="tab_content" th:each ="info: ${notice.list}">
                            <!-- tab content goes here -->
                            <div class="block_home_news_post">
                                <a href="/recruit/info/detail"class="recruit_meeting_title"  th:href="@{/recruit/info/detail?(id=${info.id})}" th:text = "${info.title}" >
                                </a>
                            </div>
                            <div class="separator" style="height:7px;"></div>


                            <div class="clearboth"></div>
                        </div>

                        <div class="clearboth"></div>

                        <div class="line_2"></div>
                    </div>

                    <div class="separator" style="height:31px;"></div>

                    <div class="block_calendar">
                        <h4>Calendar</h4>

                        <div class="calendar" id="calendar_sidebar">
                        </div>

                        <script type="text/javascript">
                            var today = new Date();
                            var date = today.getFullYear() + '-' + (today.getMonth() + 1) + '-' + today.getDate();
                            $('#calendar_sidebar').DatePicker({
                                flat: true,
                                date: date,
                                calendars: 1,
                                starts: 1,
                                locale: {
                                    days: ['周日', '周一', '周二', '周三', '周四', '周五', '周六', '周日'],
                                    daysShort: ['日', '一', '二', '三', '四', '五', '六', '日'],
                                    daysMin: ['日', '一', '二', '三', '四', '五', '六', '日'],
                                    months: ['一月', '二月', '三月', '四月', '五月', '六月', '七月', '八月', '九月', '十月', '十一月', '十二月'],
                                    monthsShort: ['一月', '二月', '三月', '四月', '五月', '六月', '七月', '八月', '九月', '十月', '十一月', '十二月'],
                                    weekMin: 'wk'
                                }
                            });
                        </script>

                        <div class="line_2"></div>
                    </div>

                    <div class="separator" style="height:31px;"></div>

                    <div class="block_sidebar_menu">
                        <h4>常用链接</h4>

                        <ul>
                            <li><a href="https://www.ncss.org.cn/" target="_blank">全国大学生一站式服务系统</a></li>
                            <li><a href="https://www.chsi.com.cn/" target="_blank">中国高等教育学生信息网</a></li>
                            <li><a href="http://www.hbbys.com.cn/" target="_blank">湖北毕业生就业网</a></li>
                            <li><a href="http://www.xsjy.whu.edu.cn/default.html" target="_blank">武汉大学就业信息网</a></li>
                            <li><a href="http://job.hust.edu.cn/" target="_blank">华中科技大学就业信息网</a></li>
                            <li><a href="http://www.jobhb.com/" target="_blank">湖北人才网</a></li>
                            <li><a href="https://www.lagou.com/" target="_blank">拉勾网</a></li>
                            <li><a href="http://campus.chinahr.com/" target="_blank">中华英才网</a></li>
                            <li><a href="https://www.nowcoder.com/" target="_blank">牛客网</a></li>
                            <li><a href="tabs.html">Tabs</a></li>
                            <li><a href="video.html">Video</a></li>
                        </ul>

                    </div>

                    <div class="separator" style="height:31px;"></div>


                    <div class="separator" style="height:31px;"></div>
                </div>

                <div class="clearboth"></div>
            </div>
        </div>
    </div>
    <!-- CONTENT END -->

    <!-- FOOTER BEGIN -->
    <footer>
        <div id="footer">
            <section class="top">
                <div class="inner">
                    <div id="logo_bottom"><a href="index.html"><img src="/front/images/logo_bottom.png" alt=""/></a>
                    </div>

                    <div class="block_to_top">
                        <a href="#">回到顶部</a>
                    </div>
                </div>
            </section>

            <section class="middle">
                <div class="inner">
                    <div class="line_1"></div>

                    <div class="block_footer_widgets">
                        <div class="column">
                            <h3>Photos on flickr</h3>

                            <div class="block_flickr_footer">
                                <ul>
                                    <li><a href="http://www.flickr.com/" target="_blank"><img
                                            src="/front/images/pic_flickr_1.png" alt=""/></a></li>
                                    <li><a href="http://www.flickr.com/" target="_blank"><img
                                            src="/front/images/pic_flickr_2.png" alt=""/></a></li>
                                    <li><a href="http://www.flickr.com/" target="_blank"><img
                                            src="/front/images/pic_flickr_3.png" alt=""/></a></li>
                                    <li><a href="http://www.flickr.com/" target="_blank"><img
                                            src="/front/images/pic_flickr_4.png" alt=""/></a></li>
                                    <li><a href="http://www.flickr.com/" target="_blank"><img
                                            src="/front/images/pic_flickr_5.png" alt=""/></a></li>
                                    <li><a href="http://www.flickr.com/" target="_blank"><img
                                            src="/front/images/pic_flickr_6.png" alt=""/></a></li>
                                    <li><a href="http://www.flickr.com/" target="_blank"><img
                                            src="/front/images/pic_flickr_7.png" alt=""/></a></li>
                                    <li><a href="http://www.flickr.com/" target="_blank"><img
                                            src="/front/images/pic_flickr_8.png" alt=""/></a></li>
                                </ul>
                            </div>
                        </div>

                        <div class="column">
                            <h3>Tags</h3>

                            <div class="block_tags">
                                <ul>
                                    <li><a href="#">Business</a></li>
                                    <li><a href="#">Science</a></li>
                                    <li><a href="#">conferece</a></li>
                                    <li><a href="#">Photo</a></li>
                                    <li><a href="#">education</a></li>
                                    <li><a href="#">AI</a></li>
                                    <li><a href="#">Sport</a></li>
                                    <li><a href="#">mobile</a></li>
                                    <li><a href="#">Technology</a></li>
                                    <li><a href="#">computer</a></li>
                                    <li><a href="#">Video</a></li>
                                    <li><a href="#">apple</a></li>
                                    <li><a href="#">news</a></li>
                                    <li><a href="#">Euro</a></li>
                                    <li><a href="#">Culture</a></li>
                                    <li><a href="#">interior</a></li>
                                    <li><a href="#">Midle east</a></li>
                                    <li><a href="#">Design</a></li>
                                    <li><a href="#">euro 2012</a></li>
                                    <li><a href="#">flowers</a></li>
                                </ul>
                            </div>
                        </div>

                        <div class="column">
                            <h3>most read news</h3>

                            <div class="block_most_read_news">
                                <div class="article">
                                    <div class="pic">
                                        <a href="recruit_meeting.html" class="w_hover">
                                            <img src="/front/images/pic_most_read_1.png" alt=""/>
                                            <span></span>
                                        </a>
                                    </div>

                                    <div class="text">
                                        <p class="title"><a href="recruit_meeting.html">Content of a page when randomised.</a>
                                        </p>
                                        <p class="date">08 July, 2012</p>
                                    </div>
                                </div>
                                <div class="line_1"></div>

                                <div class="article">
                                    <div class="pic">
                                        <a href="recruit_meeting.html" class="w_hover">
                                            <img src="/front/images/pic_most_read_2.png" alt=""/>
                                            <span></span>
                                        </a>
                                    </div>

                                    <div class="text">
                                        <p class="title"><a href="recruit_meeting.html">Established fact that a will be
                                            distracted.</a></p>
                                        <p class="date">08 July, 2012</p>
                                    </div>
                                </div>
                                <div class="line_1"></div>

                                <div class="article">
                                    <div class="pic">
                                        <a href="recruit_meeting.html" class="w_hover">
                                            <img src="/front/images/pic_most_read_3.png" alt=""/>
                                            <span></span>
                                        </a>
                                    </div>

                                    <div class="text">
                                        <p class="title"><a href="recruit_meeting.html">Distracted by the readable content of
                                            a page.</a></p>
                                        <p class="date">08 July, 2012</p>
                                    </div>
                                </div>
                                <div class="line_1"></div>

                            </div>
                        </div>

                        <div class="column">
                            <h3>contact widget</h3>

                            <div class="block_contact_footer">
                                <form action="#"/>
                                <p class="text">Name:</p>
                                <div class="field"><input type="text"/></div>

                                <p class="text">Email:</p>
                                <div class="field"><input type="text"/></div>

                                <p class="text">Message:</p>
                                <div class="textarea"><textarea cols="1" rows="1"></textarea></div>

                                <div class="clear_form"><input type="reset" value="Clear form"/></div>
                                <div class="send"><input type="submit" class="general_button" value="Submit"/></div>

                                <div class="clearboth"></div>
                                </form>
                            </div>
                        </div>

                        <div class="clearboth"></div>
                    </div>
                </div>
            </section>

            <section class="bottom">
                <div class="inner">
                    <div class="line_1"></div>

                    <div class="fr">
                        <div class="block_menu_footer">
                            <ul>
                                <li><a href="business.html">Business</a></li>
                                <li><a href="technology.html">Technology</a></li>
                                <li><a href="education.html">Education</a></li>
                                <li><a href="media.html">Media</a></li>
                            </ul>
                        </div>

                        <div class="block_social_footer">
                            <ul>
                                <li><a href="#" class="fb">Facebook</a></li>
                                <li><a href="#" class="tw">Twitter</a></li>
                                <li><a href="#" class="rss">RSS</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="block_copyrights"><p>&copy; 2019 Business Press. All rights reserved. Collect from <a
                            href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a></p></div>
                </div>
            </section>
        </div>
    </footer>
    <!-- FOOTER END -->
</div>

<!-- POPUP BEGIN -->
<div id="overlay"></div>
<div id="login" class="block_popup">
    <div class="popup">
        <a href="#" class="close">Close</a>

        <div class="content">
            <div class="title"><p>Enter the site</p></div>

            <div class="form">
                <form action="/user/login"/>
                <div class="column">
                    <p class="label">用户名</p>
                    <div class="field"><input type="text" name="username"/></div>
                </div>

                <div class="column">
                    <p class="label">Password</p>
                    <div class="field"><input type="password" name="password"/></div>
                </div>

                <div class="column_2">
                    <div class="remember">
                        <div class="checkbox"><input type="checkbox"/></div>
                        <div class="remember_label"><p>Remember me</p></div>
                    </div>
                </div>

                <div class="column_2">
                    <p class="forgot_pass"><a href="#">Forgot password?</a></p>
                </div>

                <div class="column button">
                    <a href="#" class="enter"><input type="submit" class="button" value="登录"  /></a>
                </div>

                <div class="clearboth"></div>
                </form>
            </div>

            <!--<div class="subtitle"><p>SIGN IN AS A USER</p></div>-->

            <!--<div class="fb_button"><a href="#"><img src="/front/layout/images/button_fb_login.png" alt=""/></a></div>-->
            <!--<div class="text"><p>Use your account on the social network Facebook, to create a profile on-->
                <!--BusinessPress</p></div>-->
        </div>
    </div>
</div>
<!-- POPUP END -->
</body>

</html>
