<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>就业信息网</title>

    <meta name="keywords" content=""/>
    <meta name="description" content=""/>

    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width"/>

    <!--[if lt IE 9]>
    <script type="text/javascript" src="/front/layout/plugins/html5.js"></script>
    <![endif]-->

    <link rel="stylesheet" href="/front/layout/style.css" type="text/css"/>
    <link href="http://fonts.googleapis.com/css?family=PT+Sans:400,700" rel="stylesheet" type="text/css"/>
    <link href="http://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700" rel="stylesheet" type="text/css"/>
    <link href="http://fonts.googleapis.com/css?family=Droid+Serif:400,400italic" rel="stylesheet" type="text/css"/>

    <script type="text/javascript" src="/front/layout/js/jquery.js"></script>

    <!-- PrettyPhoto start -->
    <link rel="stylesheet" href="/front/layout/plugins/prettyphoto/css/prettyPhoto.css" type="text/css"/>
    <script type="text/javascript" src="/front/layout/plugins/prettyphoto/jquery.prettyPhoto.js"></script>
    <!-- PrettyPhoto end -->

    <!-- jQuery tools start -->
    <script type="text/javascript" src="/front/layout/plugins/tools/jquery.tools.min.js"></script>
    <!-- jQuery tools end -->

    <!-- Calendar start -->
    <link rel="stylesheet" href="/front/layout/plugins/calendar/calendar.css" type="text/css"/>
    <script type="text/javascript" src="/front/layout/plugins/calendar/calendar.js"></script>
    <!-- Calendar end -->

    <!-- ScrollTo start -->
    <script type="text/javascript" src="/front/layout/plugins/scrollto/jquery.scroll.to.min.js"></script>
    <!-- ScrollTo end -->

    <!-- MediaElements start -->
    <link rel="stylesheet" href="/front/layout/plugins/video-audio/mediaelementplayer.css"/>
    <script src="/front/layout/plugins/video-audio/mediaelement-and-player.js"></script>
    <!-- MediaElements end -->

    <!-- FlexSlider start -->
    <link rel="stylesheet" href="/front/layout/plugins/flexslider/flexslider.css" type="text/css"/>
    <script type="text/javascript" src="/front/layout/plugins/flexslider/jquery.flexslider-min.js"></script>
    <!-- FlexSlider end -->

    <!-- iButtons start -->
    <link rel="stylesheet" href="/front/layout/plugins/ibuttons/css/jquery.ibutton.css" type="text/css"/>
    <script type="text/javascript" src="/front/layout/plugins/ibuttons/lib/jquery.ibutton.min.js"></script>
    <!-- iButtons end -->

    <!-- jQuery Form Plugin start -->
    <script type="text/javascript" src="/front/layout/plugins/ajaxform/jquery.form.js"></script>
    <!-- jQuery Form Plugin end -->

    <script type="text/javascript" src="/front/layout/js/main.js"></script>

    <script type="text/javascript">
        jQuery(function () {
        });
    </script>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
</head>

<body>
<div class="wrapper sticky_footer">
    <!-- HEADER BEGIN -->
    <header th:replace="/front/header::header"></header>

    <!-- HEADER END -->
    <div class="inner_copyright">
    </div>
    <!-- CONTENT BEGIN -->
    <div id="content" class="right_sidebar">
        <div class="inner">
            <div class="general_content">
                <div class="main_content">
                    <div class="block_breadcrumbs">
                        <div class="text"><p>你的位置:</p></div>

                        <ul>
                            <li><a href="/index/">首页</a></li>
                            <li>招聘信息列表</li>
                        </ul>
                    </div>

                    <div class="separator" style="height:17px;"></div>
                    <h3>招聘信息</h3>
                    <div class="recruite_meeting_info">

                        <table cellpadding="0" cellspacing="0" class="table_2">
                            <tr>
                                <th>标题</th>
                                <th>时间</th>
                            </tr>

                            <tr th:each="item:${pageInfo.list}">
                                <td >
                                    <a th:href="@{/recruit/meeting/detail?(id=${item.id})}" th:text="${item.title}"></a>
                                </td>
                                <td th:text="${item.createDate}"></td>
                            </tr>
                        </table>

                        <div class="line_2" style="margin:22px 0px 0px;"></div>
                        <!-- tab content goes here -->
                        <div class="separator" style="height:7px;"></div>
                        <div class="clearboth"></div>
                    </div>
                    <div class="block_pager">
                        <a href="#" class="prev">Previous</a>
                        <a href="#" class="next">Next</a>

                        <div class="pages">
                            <ul>
                                <li class="current"><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li><a href="#">5</a></li>
                                <li><a href="#">6</a></li>
                            </ul>
                        </div>

                        <div class="clearboth"></div>
                    </div>
                    <div class="clearboth"></div>
                    <div class="line_3" style="margin:13px 0px 35px;"></div>
                </div>

                <div th:replace="/front/sidebar::sidebar"></div>

                <div class="clearboth"></div>
            </div>
        </div>
    </div>
    <!-- CONTENT END -->

    <!-- FOOTER BEGIN -->
    <footer th:replace="front/footer::footer"></footer>

    <!-- FOOTER END -->
</div>

<!-- POPUP BEGIN -->
<div id="overlay"></div>
<div id="login" class="block_popup">
    <div class="popup">
        <a href="#" class="close">Close</a>

        <div class="content">
            <div class="title"><p>Enter the site</p></div>

            <div class="form">
                <form action="/user/login"/>
                <div class="column">
                    <p class="label">用户名</p>
                    <div class="field"><input type="text" name="username"/></div>
                </div>

                <div class="column">
                    <p class="label">Password</p>
                    <div class="field"><input type="password" name="password"/></div>
                </div>

                <div class="column_2">
                    <div class="remember">
                        <div class="checkbox"><input type="checkbox"/></div>
                        <div class="remember_label"><p>Remember me</p></div>
                    </div>
                </div>

                <div class="column_2">
                    <p class="forgot_pass"><a href="#">Forgot password?</a></p>
                </div>

                <div class="column button">
                    <a href="#" class="enter"><input type="submit" class="button" value="登录"/></a>
                </div>

                <div class="clearboth"></div>
                </form>
            </div>

            <!--<div class="subtitle"><p>SIGN IN AS A USER</p></div>-->

            <!--<div class="fb_button"><a href="#"><img src="/front/layout/images/button_fb_login.png" alt=""/></a></div>-->
            <!--<div class="text"><p>Use your account on the social network Facebook, to create a profile on-->
            <!--BusinessPress</p></div>-->
        </div>
    </div>
</div>
<!-- POPUP END -->
</body>

</html>
